@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');





.sora {
	font-family: "Sora", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
  }


#card-circle{
	/* border-radius: 50%;
	background-color: white; */
	
}