@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


:root{
	
	--clr-hover-bg: linear-gradient(to bottom, #7b4397 0%, #dc2430 51%, #7b4397 100%);
	--clr-hover-bg2: linear-gradient(to bottom, #7b4397 0%, #dc2430 51%, #7b4397 100%);
	
}





.sora {
	font-family: "Sora", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
  }


#card-circle{
	/* border-radius: 50%;
	background-color: white; */
	
}


.section::after {
    content: '';
    clear: both;
    display: block;
}

.section::before{
    content: '';
    clear: both;
    display: block;
}


/* bg-gradient-to-br from-[#F4A1FA] to-[#ACD2FD] */
#everyday-left-section {
	background-image: linear-gradient(to bottom right, #F8CCFB, #ACD2FD); 
	border-radius: 8px;
}

#everyday-right-section {
	background-image: linear-gradient(to bottom right, #FFF9F4, #F9DF8A); 
	border-radius: 8px;
}


/* -----==================================================== */
/* ---------------Animations-------------- */
/* -----==================================================== */

.loading-circle {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear 5s;
	/* Safari */
	animation: spin 2s linear infinite;
	text-align: center;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10000;
}


/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}



#loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background-color: gray; */
	background-image: linear-gradient(to bottom right, #F8CCFB, #ACD2FD);
	color: white;
	opacity: 1;
	transition: 0.3s;
	visibility: visible;

}

#loading.hidden,
.loading-circle.hidden {
	opacity: 0;
	visibility: hidden;
}

.show {
	opacity: 100;
	visibility: visible;
}


.header {
	/* opacity: 0;
	visibility: hidden; */
}